* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  color: #fff;
}

.search-container {
  padding-left: 20px;
}

.display-5 {
  padding-left: 50%;
}

.background {
  background-image: linear-gradient(bottom right, pink, green);
}

.forecast-box {
  background-color: grey;
  color: #fff;
  margin-left: 14px;
  height: 200px;
  width: 118px;
}

.container-5-day {
  display: flex;
  border: black;
  width: 400px;
}

.secondary-button {
  background-color: grey;
  color: #fff;
  padding: 10px 50px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

/* .secondary-btn:hover {
  background-color: #45a049;
} */

/* .secondary-btn:focus {
  outline: none;
} */

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
}
